.AgendaMain {
    width: 100%;
    height: auto;
    margin-top: 150px;
}

.titles {
    width: 100%;
    font-size: clamp(32px, 6vw, 100px);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.Agenda {
    width: 860px;
    font-size: clamp(32px, 6vw, 100px);
    font-style: normal;
    font-weight: 700;
    line-height: 120px;
    background-color: transparent;
    color: white;

}

.description {
    width: 295px;
    height: 60px;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}