.button {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  height: 74px;
  gap: 20px;
  align-self: flex-start;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: white;
  border-radius: 100px;
  background-image: linear-gradient(to right, #97b5ff 2%, #0147FF 98%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.arrowIcon {
  width: 34px;
  height: 34px;
  background-color: transparent;
}

.button:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px rgba(1, 71, 255, 0.5);
}