.schedule {
  position: relative;
  width: 100%;
  padding: 100px 0;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
  border-radius: 50px;
  overflow: hidden;
}

.scheduleContainer {
  width: 80%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: clamp(24px, 5vw, 80px);
}

.dayCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
  gap: clamp(24px, 5vw, 80px);
  flex-wrap: wrap;
}

.header {
  width: 250px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
}

.dayTitle {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: white;
  background-color: transparent;
}

.time {
  font-size: 24px;
  font-weight: 600;
  color: white;
  background-color: transparent;
}

.description {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: transparent;
}

.theme {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  color: white;
  background-color: transparent;
}

.text {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #ffffff;
  background-color: transparent;
}

.button {
  width: 598px;
  height: 74px;
  border-radius: 100px;
  display: flex;
  gap: 20px;
  background-image: linear-gradient(to right, #97b5ff 2%, #0147ff 98%);
  margin-top: 102px;
}

.Pattern {
  position: absolute;
  bottom: -170px;
  left: 0;
  width: 386px;
  height: 386px;
  background-color: transparent;
  pointer-events: none;
  z-index: 0;
}
