.card {
    max-width: 532px;
    min-height: 569px;
    border-radius: 50px;
    background-color: #0147FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardContent {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
}

.title {
    color: white;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    background-color: transparent;
}

.description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 35px;
    height: 120px;
    background-color: transparent;
}

.iconCircle {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    background-color: rgb(184, 26, 208);
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 50px;
    height: 50px;
    background-color: transparent;
}

.subtext {
    width: 305px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: white;
    background-color: transparent;
}

.footerRow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 170px;
    gap: 32px;
    height: 74px;
    background-color: transparent;
}

.moreButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 275px;
    height: 74px;
    border-radius: 100px;
    border: 1px solid white;
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    color: white;
    background-color: transparent;
    cursor: pointer;
}