.navbar {
  height: 250px;
  display: flex;
  justify-content: space-around;
  gap: 425px;
  align-items: center;
  padding: 12px 24px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 3px solid rgb(46, 247, 254);
}

.logoWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logoImg {
  height: 150px;
  width: 150px;
}

.navLinks {
  display: flex;
  list-style: none;
  gap: 75px;
}

.navItem {
  list-style: none;
}

.navLink {
  text-decoration: none;
  color: #ddd;
  font-size: 25px;
  font-weight: 500;
  transition: all 0.3s;

  &:hover {
    color: #ffcc00;
  }
}

.active {
  color: #ffcc00 !important;
  font-weight: 600;
  border-bottom: 2px solid #ffcc00;
  padding-bottom: 2px;
}
