.main {
  width: 100%;
  height: auto;
  margin-top: 150px;
}

.header {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  font-weight: 700;
  font-size: 50px;
  color: white;
  line-height: 60px;
}

.navigation {
  width: 157px;
  height: 74px;
  display: flex;
  justify-content: space-between;
  gap: 8.5px;
}

.arrowBox {
  width: 74px;
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid white;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;

  &:hover {
    background-color: #0147ff;
    color: black;
  }
}

.arrowIcon {
  background-color: transparent;
}

.feedbackSlider {
  width: 100%;
  height: 443px;
  display: flex;
  justify-content: center;
  margin-top: 131px;
  align-items: center;
}

.cardWrapper {
  position: absolute;
  width: 500px;
  height: 443px;
  border-radius: 50px;
  transition: transform 0.4s ease, z-index 0.4s;
  cursor: pointer;
  opacity: 0.5;
  transform: scale(0.9);
  z-index: 1;

  &.left {
    transform: translateX(-250px) scale(0.9);
  }

  &.right {
    transform: translateX(250px) scale(0.9);
  }

  &.active {
    opacity: 1;
    transform: translateX(0) scale(1);
    z-index: 3;
  }
}

.feedbackContent {
  width: 80%;
  background-color: transparent;
  height: 80%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.feedbackTitle {
  font-weight: 700;
  background-color: transparent;
  color: white;
  font-size: 30px;
  line-height: 30px;
}

.feedbackText {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  background-color: transparent;
  color: #ffffff;
}

.speakerInfo {
  display: flex;
  background-color: transparent;
  flex-direction: row;
  gap: 20px;
  color: white;
}

.speakerImage {
  width: 64px;
  height: 64px;
  background-color: transparent;
  border-radius: 50%;
  object-fit: cover;
}

.speakerName,
.speakerRole {
  font-weight: 600;
  font-size: 16px;
  background-color: transparent;
  color: white;
}

.speakerInfoText {
  background-color: transparent;
  display: flex;
  flex-direction: column;
}